body { background: #c3f57b; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 36px; display: flex; }
.block-search-0 { color: #69d1e5; font-size: 17px; margin-bottom: 5px; }
.block-cluster-1 { color: #61aa38; font-size: 14px; margin-bottom: 5px; }
.block-cache-2 { color: #116285; font-size: 19px; margin-bottom: 5px; }
.block-cart-3 { color: #3abe07; font-size: 18px; margin-bottom: 5px; }
.block-config-4 { color: #64a0d; font-size: 12px; margin-bottom: 5px; }